<div class="container">
  <div class="row dashboard_create">
    <div class="col-md-2 col-md-offset-5">
      <a href="/dashboards/new" class="link-button btn btn-primary btn-lg">Create Dashboard</a>
        <div class="or-log-in" style="text-align:center;">
          <p>
            Or <a href="/sessions/new">log in</a>
          </p>
        </div>
      
    </div>
  </div>
</div>



